nav{
    display: flex;
    justify-content: space-around;
    

   position: fixed;
   width: 100%;
   top:0;
    
} 

.logo{
    display: flex;
    color: rgba(255,255,255,0.85);
    font-size: 30px;
   position: absolute;
   left:40px;
   color: rgb(0, 0, 0);
}

.logo h3{
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 1px;
    
    font-family: 'Ultra', serif;
}


.list{
    list-style-type:none;
    width: 100%;
    height:100%;
    background: linear-gradient(45deg, rgb(170, 170, 170),rgb(0, 0, 0));
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.item{
    margin-right:20px;
    font-size:12px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor:pointer;
}

.btn1{
    display:none;
    position :absolute;
    padding: 0px;
    background-color:  rgb(16, 197, 197);
    font-size: 20px;
    color:rgb(114, 114, 114);
    border: none;
}
#nav-dropdown{
    color: white;
    overflow: visible;
    font-size: large;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    

}
#nav-items{
    display:block!important;
    overflow: visible
}


@media screen and (max-width:500px) {
    .list{
        flex-direction:column;
        height: auto;
    }
    .item:nth-child(1){
        border-top: 1px solid rgb(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .item{
        width:100%;
        border-top: 1px solid rgb(255, 255, 255, 0.555);
        text-align: center;
        margin-right:0px;
        padding: 20px 0;
        font-size: 10px;
    }
    .btn1{
        display: block;
        top: 0px;
        border: none;
    }
    
}